<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Module Id="PyConnector" Language="1033" Version="1.0.0.0">
    <!--Program GUIDs>
      <FlexSim="D341498E-0E94-43CD-A899-2C91E835CEA7">
      <FlexSimChinese="EDBBFBEF-B096-4A16-92FF-10BE9B553040">
      <FlexSimJapanese="66161754-1DE5-4A36-BAD8-CFBB9C870760">
      <FlexSimChineseTraditional="D799D4AB-EC63-4D12-8591-1CF46FFE80DF">
    </Program GUIDs-->
    <Package Id="7978E597-6CBA-488E-A53E-E6ED1F66BA9A" Manufacturer="FlexSim Software Products Inc." InstallerVersion="200" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="MergeRedirectFolder">
        <!--Program GUIDs>
          <FlexSim="517C1EE3-8460-4B46-A9E8-FCDF6CC52289">
          <FlexSimChinese="E2FBACB2-89F0-454B-BD84-F9B32395EECE">
          <FlexSimJapanese="62BCBD40-FABF-4CE4-8527-3C3C7D6C9563">
          <FlexSimChineseTraditional="AADD0A3E-A4E9-483E-A8E0-7C0E50B6B690">
        </Program GUIDs-->
        <Component Id="PyConnector_37" Guid="E5F7138E-ADCE-4E1A-B053-3137829CBBCC" KeyPath="yes">
          <File Name="PyConnector37.dll" Source="$(var.ProjectDir)../out/PyConnector37.dll" />
        </Component>
        <!--Program GUIDs>
          <FlexSim="6157F83B-F55E-4D81-A7B1-AFD1DD0380EA">
          <FlexSimChinese="F5F8D28C-592C-492B-9C53-629DF4E59390">
          <FlexSimJapanese="28E33B8E-0AFA-4CD1-B6F0-E8FFD15286F4">
          <FlexSimChineseTraditional="72B7526B-A37D-4469-BEC5-5C628C5BC211">
        </Program GUIDs-->
        <Component Id="PyConnector_38" Guid="509401D4-B640-4379-A928-EF6C859C5277" KeyPath="yes">
          <File Name="PyConnector38.dll" Source="$(var.ProjectDir)../out/PyConnector38.dll" />
        </Component>
        <!--Program GUIDs>
          <FlexSim="29D17A6F-D98F-41E2-88F6-1983B38B054F">
          <FlexSimChinese="572E02D3-4F16-468B-8679-04F803E4AEF8">
          <FlexSimJapanese="F3761397-0A37-48F7-82FB-90E47B769E74">
          <FlexSimChineseTraditional="6C1124CF-3602-41AC-95A2-39A9B58B8621">
        </Program GUIDs-->
        <Component Id="PyConnector_39" Guid="D048E99E-9E56-4175-8A80-148B444C044B" KeyPath="yes">
          <File Name="PyConnector39.dll" Source="$(var.ProjectDir)../out/PyConnector39.dll" />
        </Component>
        <!--Program GUIDs>
          <FlexSim="BA080F55-81E1-4299-8169-102BFE22E09A">
          <FlexSimChinese="3DDC7E29-E48C-4EBF-A0BC-7C1DDB30A7E2">
          <FlexSimJapanese="EC07C857-9DA0-4B00-933A-D5372C1B8F09">
          <FlexSimChineseTraditional="6C852056-3412-4778-884C-28A1F5849E94">
        </Program GUIDs-->
        <Component Id="PyConnector_310" Guid="88D2FEB0-5273-4919-B407-4497B8BFD97B" KeyPath="yes">
          <File Name="PyConnector310.dll" Source="$(var.ProjectDir)../out/PyConnector310.dll" />
        </Component>
        <!--Program GUIDs>
          <FlexSim="D0E35B81-3EBB-4624-AC45-FAFB4EE6C6D4">
          <FlexSimChinese="20F6AE47-A2E9-418A-BBE0-D28A724C4B55">
          <FlexSimJapanese="67F7DC6D-3FF5-4DC2-BFC2-195025641F19">
          <FlexSimChineseTraditional="76FC9FAD-1401-4460-BAFA-F0D3088385DF">
        </Program GUIDs-->
        <Component Id="PyConnector_311" Guid="397D0487-B658-4DDB-B878-0C0D1FCB4ECD" KeyPath="yes">
          <File Name="PyConnector311.dll" Source="$(var.ProjectDir)../out/PyConnector311.dll" />
        </Component>
      </Directory>
    </Directory>
  </Module>
</Wix>
